[notion]
api_key = <<api key from notion>>
db_id = <<db id for the target db>>
url = https://api.notion.com/v1

[pocket]
consumer_key = <<consumer key from pocket autorized app>>
access_token = <<access token from pocket oauth endpoint>>
tag = <<tag from pocket that will be syncronized>> 